<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container">
    <a routerLink="/" class="navbar-brand">
      <!--<img src="assets/images/logo.png" width="48px"/>-->
      N#mba Media Adv
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/order" [routerLinkActiveOptions]="{exact: true}" >Заказ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/radio">Радио</a>
        </li>
        <li class="nav-item" *ngIf="currentUser && currentUser.isAdmin">
          <a class="nav-link" routerLinkActive="active" routerLink="/category-product">Категории</a>
        </li>
        <li class="nav-item" *ngIf="currentUser && currentUser.isAdmin">
          <a class="nav-link" routerLinkActive="active" routerLink="/products">Продукты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/tv-channel">Телеканалы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/taxi">Такси</a>
        </li>
        <li class="nav-item" *ngIf="currentUser && currentUser.isAdmin">
          <a class="nav-link" routerLinkActive="active" routerLink="/calc">Калькулятор</a>
        </li>
        <li class="nav-item" *ngIf="currentUser && currentUser.isAdmin">
          <a class="nav-link" routerLinkActive="active" routerLink="/role">Роли</a>
        </li>
        <li class="nav-item" *ngIf="currentUser && currentUser.isAdmin">
          <a class="nav-link" routerLinkActive="active" routerLink="/user">Пользователи</a>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/order/shablons" [routerLinkActiveOptions]="{exact: true}" >
            Шаблоны
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="true">
              <i class="fa fa-cog" aria-hidden="true"></i><span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="download">
            <a class="dropdown-item" routerLink="/account/profile">Профиль</a>
            <a class="dropdown-item" routerLink="/order/my">Мои заказы</a>
            <a class="dropdown-item" href="#">Мои шаблоны</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="doLogout()">
              Выйти <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
<br/><br/><br/><br/><br/>


<!-- Modal -->
<div class="modal fade" id="calc-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Калькулятор</h4>
                <button class="close" type="button" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <table class="table">
                <tr>
                  <td colspan="4">
                    <input type="text" class="form-control" value="12000$"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button class="btn btn-default buttonWidthFull">AC</button>
                  </td>
                  <td>
                      <button class="btn btn-default buttonWidthFull">+/-</button>
                  </td>
                  <td>
                      <button class="btn btn-default buttonWidthFull">%</button>
                  </td>
                  <td>
                      <button class="btn btn-warning buttonWidthFull">/</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button class="btn btn-default buttonWidthFull">7</button>
                  </td>
                  <td>
                      <button class="btn btn-default buttonWidthFull">8</button>
                  </td>
                  <td>
                      <button class="btn btn-default buttonWidthFull">9</button>
                  </td>
                  <td>
                      <button class="btn btn-warning buttonWidthFull">x</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button class="btn btn-default buttonWidthFull">4</button>
                  </td>
                  <td>
                      <button class="btn btn-default buttonWidthFull">5</button>
                  </td>
                  <td>
                      <button class="btn btn-default buttonWidthFull">6</button>
                  </td>
                  <td>
                      <button class="btn btn-warning buttonWidthFull">-</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button class="btn btn-default buttonWidthFull">1</button>
                  </td>
                  <td>
                      <button class="btn btn-default buttonWidthFull">2</button>
                  </td>
                  <td>
                      <button class="btn btn-default buttonWidthFull">3</button>
                  </td>
                  <td>
                      <button class="btn btn-warning buttonWidthFull">+</button>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button class="btn btn-default buttonWidthFull">0</button>
                  </td>
                  <td>
                      <button class="btn btn-default buttonWidthFull">.</button>
                  </td>
                  <td>
                      <button class="btn btn-warning buttonWidthFull" (click)="calc()">=</button>
                  </td>
                </tr>
              </table>
            </div>
        </div>
    </div>
</div>
<!--/ Modal -->
