<app-navbar-header></app-navbar-header>

<div class="container">
  <table class="table table-hover">
    <thead>
      <th>Наименование</th>
      <th>Заказы</th>
      <th>Действия</th>
    </thead>
    <tbody>
      <tr *ngFor="let orderShablon of orderShablons">
        <td>{{ orderShablon.name }}</td>
        <td>
          <ng-container *ngFor="let order of orderShablon.orders">
            <div style="width: 200px;">
              <b>{{ order?.category?.name }}</b>,
              <b *ngIf="!order.isRadio && order.product">{{ order?.product?.name }}</b>
              <b *ngIf="order.isRadio && order.radio">{{ order?.radio?.name }}</b>
            </div>
            <hr/>
          </ng-container>
        </td>
        <td>
          <button class="btn btn-secondary" routerLink="/order/shablon/{{ orderShablon.uid }}">Загрузить</button>
          <button class="btn btn-warning" 
            data-toggle="modal" data-target="#remove-modal"
            (click)="selectedOrderShablon = orderShablon">Удалить</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="remove-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Удаление</h4>
                <button class="close" type="button" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-danger" (click)="remove(selectedOrderShablon.uid);">Удалить</button>
            </div>
        </div>
    </div>
</div>
<!--/ Modal -->
