<div class="container">
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Радио</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" 
            class="form-control "
            [(ngModel)]="newCategoryProduct.name" 
            [value]="newCategoryProduct.name"
            placeholder="Наименование"
          />
        </td>
        <td>
          <input type="checkbox" 
            class="form-control"
            [(ngModel)]="newCategoryProduct.isRadio" 
            [value]="newCategoryProduct.isRadio"
          />
        </td>
        <td>
            <button class="btn btn-success" (click)="add()">Добавить</button>
        </td>
      </tr>

      <tr *ngFor="let categoryProduct of categoryProducts; let i=index">
        <td>
          <input type="text" 
            class="form-control "
            [(ngModel)]="categoryProduct.name" 
            [value]="categoryProduct.name"
          />
        </td>
        <td>
          <input type="checkbox" 
            class="form-control"
            [(ngModel)]="categoryProduct.isRadio" 
            [value]="categoryProduct.isRadio"
          />
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning" (click)="edit(categoryProduct)">
              Редактировать
            </button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="modal" data-target="#remove-modal" (click)="removeCategoryProduct = categoryProduct">
                Удалить
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Modal -->
  <div class="modal fade" id="remove-modal" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Удаление</h4>
                  <button class="close" type="button" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  Вы действительно хотите удалить?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                  <button type="button" class="btn btn-danger" (click)="remove(removeCategoryProduct.uid);">Удалить</button>
              </div>
          </div>
      </div>
  </div>
  <!--/ Modal -->
  
</div>
