<table class="table">
  <thead>
      <tr>
          <th>Наименование</th>
          <th>Просмотр</th>
          <th>Добавление</th>
          <th>Рекдактирование</th>
          <th>Удаление</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let operation of operations; let i=index;">
          <td>
            {{ operation.name }}
          </td>
          <td>
              <input type="checkbox" 
                  class="form-control"
                  [(ngModel)]="operation.isRead"
              />
          </td>
          <td>
              <input type="checkbox" 
                  class="form-control"
                  [(ngModel)]="operation.isAdd"
              />
          </td>
          <td>
              <input type="checkbox" 
                  class="form-control"
                  [(ngModel)]="operation.isEdit"
              />
          </td>
          <td>
              <input type="checkbox" 
                  class="form-control"
                  [(ngModel)]="operation.isRemove"
              />
          </td>
          <td>
            <button type="button" class="btn btn-warning" (click)="edit(operation)">
                Редактировать
            </button>
          </td>
      </tr>
  </tbody>
</table>