<div class="container">
  <table class="table table-hover">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Почта</th>
            <th>Пароль</th>
            <th>Роль</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" 
            class="form-control "
            [(ngModel)]="newUser.name" 
            [value]="newUser.name"
            placeholder="ФИО"
          />
        </td>
        <td>
            <input type="text" 
              class="form-control "
              [(ngModel)]="newUser.email" 
              [value]="newUser.email"
            />
        </td>
        <td>
          <input type="password" 
            class="form-control"
            [(ngModel)]="newUser.password" 
            [value]="newUser.password"
          />
        </td>
        <td>
          <select class="form-control" [(ngModel)]="newUser.roleId">
            <option *ngFor="let role of roles" [ngValue]="role._id">{{ role.name }}</option>
          </select>
        </td>
        <td>
            <button class="btn btn-success" (click)="add()">Добавить</button>
        </td>
      </tr>
      <tr *ngFor="let user of users; let i=index">
          <td>
              <input type="text" 
                class="form-control "
                [(ngModel)]="user.name" 
                [value]="user.name"
                placeholder="ФИО"
              />
            </td>
            <td>
                <input type="text" 
                  class="form-control "
                  [(ngModel)]="user.email" 
                  [value]="user.email"
                />
            </td>
            <td>
              <input type="password" 
                class="form-control"
                [(ngModel)]="user.password" 
                [value]="user.password"
              />
            </td>
            <td>
              <select class="form-control" [(ngModel)]="user.roleId">
                <option *ngFor="let role of roles" [ngValue]="role._id">{{ role.name }}</option>
              </select>
            </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning" (click)="edit(user)">
              Редактировать
            </button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="modal" data-target="#remove-modal" (click)="removeUser = user">
                Удалить
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Modal -->
  <div class="modal fade" id="remove-modal" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Удаление</h4>
                  <button class="close" type="button" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  Вы действительно хотите удалить?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                  <button type="button" class="btn btn-danger" (click)="remove(removeUser._id);">Удалить</button>
              </div>
          </div>
      </div>
  </div>
  <!--/ Modal -->
  
</div>
