<div class="container">
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Категории</th>
            <th>Калькулятор</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" 
            class="form-control "
            [(ngModel)]="newProduct.name" 
            [value]="newProduct.name"
            placeholder="Наименование"
          />
        </td>
        <td>
          <select [(ngModel)]="newProduct.categoryId" class="form-control">
            <option *ngFor="let categoryProduct of categoryProducts" [ngValue]="categoryProduct.uid">
              {{ categoryProduct.name }}
            </option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="newProduct.calcId" class="form-control">
            <option *ngFor="let calc of calcs" [ngValue]="calc.uid">
              {{ calc.name }}
            </option>
          </select>
        </td>
        <td>
            <button class="btn btn-success" (click)="add()">Добавить</button>
        </td>
      </tr>

      <tr *ngFor="let product of products; let i=index">
        <td>
          <input type="text" 
            class="form-control "
            [(ngModel)]="product.name" 
            [value]="product.name"
          />
        </td>
        <td>
          <select [(ngModel)]="product.categoryId" class="form-control">
            <option *ngFor="let categoryProduct of categoryProducts" [ngValue]="categoryProduct.uid">
              {{ categoryProduct.name }}
            </option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="product.calcId" class="form-control">
            <option *ngFor="let calc of calcs" [ngValue]="calc.uid">
              {{ calc.name }}
            </option>
          </select>
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning" (click)="edit(product)">
              Редактировать
            </button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="modal" data-target="#remove-modal"
                (click)="removeProduct = product">
                Удалить
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Modal -->
  <div class="modal fade" id="remove-modal" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Удаление</h4>
                  <button class="close" type="button" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  Вы действительно хотите удалить?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                  <button type="button" class="btn btn-danger" (click)="remove(removeProduct.uid);">Удалить</button>
              </div>
          </div>
      </div>
  </div>
  <!--/ Modal -->
  
</div>
