div.well{
    height: 250px;
  } 
  
  .Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
  .Absolute-Center.is-Responsive {
    height: 70%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
  }
  
  #logo-container{
    margin: auto;
    margin-bottom: 10px;
    width:200px;
    height:100px;
  }