
<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container" routerLink="/">
        <h1>N#mba Media Adv</h1>
      </div>
      <br/><br/><br/><br/>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
          <div class="form-group input-group">
            <input [(ngModel)]="newUser.email"  class="form-control" type="email" name='email'
              style="width: 100%"
              placeholder="nambaadv@gmail.com"
              #email="ngModel"
              type="email"
              minlength="4"
              maxlength="50"
              required
              pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"/>

              <small class="form-text text-muted" style="color:brown !important;"
                  *ngIf="email.invalid && (email.dirty || email.touched)">
                <ng-container *ngIf="email.errors?.required">
                    Это поле объязательно к заполнению.
                </ng-container>
                <ng-container *ngIf="email.errors?.minlength">
                    Длина должна быть больше 4х символов.
                </ng-container>
                <ng-container *ngIf="email.errors?.maxlength">
                    Максимальная длина должна быть не болье 100 символов.
                </ng-container>
                <ng-container *ngIf="email.errors?.pattern">
                    Неправильный формат.
                </ng-container>
              </small>
          </div>
          <div class="form-group input-group">
            <input #password="ngModel" [(ngModel)]="newUser.password" class="form-control"
              style="width: 100%"
              type="password" name='password' placeholder="Пароль" required minlength="5" maxlength="100"
              (keydown.enter)="doLogin();"/>
      
            <small class="form-text text-muted" style="color:brown !important;"
                *ngIf="password.invalid && (password.dirty || password.touched)">
                <ng-container *ngIf="password.errors?.required">
                    Это поле объязательно к заполнению.
                </ng-container>
                <ng-container *ngIf="password.errors?.minlength">
                    Длина должна быть больше 5х символов.
                </ng-container>
                <ng-container *ngIf="password.errors?.maxlength">
                    Максимальная длина должна быть не болье 100 символов.
                </ng-container>
            </small>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-outline-info btn-block" (click)="doLogin();">
              Войти
            </button>
          </div>
          <div class="form-group text-center">
            <!--<a href="#" (click)="doForgotPassword();">
              Забыли пароль?
            </a> /-->
            <a routerLink="/account/register">
              Зарегистрироваться
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
