.toLeft2em {
    margin-left: -5em;
}
li {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    padding: 0em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: 7em;
 }
li input {
    width: 6.7em; height: 1.428em;
    color: black;
}
td input {
    padding: 0.2em;
    width: 6em;
}