
<!--<table>
  <thead>
    <th>Радио</th>
    <th *ngFor="let time of times">
      {{ time.startTime }}:{{ time.endTime }}
    </th>
    <th *ngFor="let coefficient of radioCoefficients">
      {{ coefficient.name }}
    </th>
    <th>Действие</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="text" class="form-control" [(ngModel)]="newRadio.name" placeholder="Наименование" style="width: 10em;"/>
      </td>
      <td *ngFor="let time of times">
        <input type="number" class="form-control new_{{newRadio.name}}"
          id="new_{{ time.startTime }}" [(ngModel)]="newRadio.tariffs[time.option]"/>

        <input type="number" class="form-control new_{{newRadio.name}}"
          style="background-color: azure"
          id="new_weekend_{{ time.startTime }}" [(ngModel)]="newRadio.tariffs[time.weekendOption]"/>
      </td>

      <td *ngFor="let coefficient of radioCoefficients">
        <input type="number" class="form-control new_{{newRadio.name}}"
          id="new_{{ coefficient.name }}" [(ngModel)]="newRadio.coefficients[coefficient.option]"/>

        <input type="number" class="form-control new_{{newRadio.name}}"
          style="background-color: azure"
          id="new_weekend_{{ coefficient.name }}" [(ngModel)]="newRadio.coefficients[coefficient.weekendOption]"/>
      </td>
      <td>
        <button type="button" class="btn btn-success btn-sm" (click)="save(newRadio)">Добавить</button>
      </td>
    </tr>

    <tr *ngFor="let radio of radios">
      <td><input type="text" class="form-control" [(ngModel)]="radio.name" style="width: 10em;"/></td>
    
      <td *ngFor="let time of times">
        <input type="number" class="form-control edit_{{radio.uid}}" id="edit_{{radio.uid}}"
        [(ngModel)]="radio.tariffs[time.option]"/>

        <input type="number" class="form-control edit_{{radio.uid}}" id="edit_weekend_{{radio.uid}}"
        style="background-color: azure"
        [(ngModel)]="radio.tariffs[time.weekendOption]"/>
      </td>

      <td *ngFor="let coefficient of radioCoefficients">
        <input type="number" class="form-control edit_{{radio.uid}}" id="edit_{{radio.uid}}"
        [(ngModel)]="radio.coefficients[coefficient.option]"/>

        <input type="number" class="form-control edit_{{radio.uid}}" id="edit_weekend_{{radio.uid}}"
        style="background-color: azure"
        [(ngModel)]="radio.coefficients[coefficient.weekendOption]"/>
      </td>

      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-warning btn-sm" (click)="edit(radio)">Сохранить</button>
          <button type="button" class="btn btn-warning btn-sm dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdoen-init" data-toggle="modal" data-target="#remove-modal"
              (click)="removeRadio=radio">Удалить</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
-->

<table class="table table-hover">
  <tr *ngFor="let time of times; index as i;">
    <td *ngIf="i===0"><b>Время</b></td>
    <td *ngIf="i>0">{{ time.startTime }}:{{ time.endTime }}</td>
    <ng-container *ngFor="let radio of radios;">
      <td *ngIf="i===0"><b>{{ radio.name }}</b></td>
      <td *ngIf="i>0">
        <input [(ngModel)]="radio.tariffs[time.option]" class="form-control" type="number"/>
        <input type="number" class="form-control" style="background-color: azure"
          [(ngModel)]="radio.tariffs[time.weekendOption]"/>
      </td>
    </ng-container>

    <!--new Radio-->
    <td *ngIf="i===0">
      <input type="text" class="form-control" [(ngModel)]="newRadio.name" placeholder="Наименование" style="width: 10em;"/>
    </td>
    <td *ngIf="i>0">
      <input [(ngModel)]="newRadio.tariffs[time.option]" class="form-control" type="number"/>
      <input type="number" class="form-control" style="background-color: azure"
        [(ngModel)]="newRadio.tariffs[time.weekendOption]"/>
    </td>
    <!--/new Radio-->

  </tr>
  <tr *ngFor="let coefficient of radioCoefficients; index as i;">
    <td *ngIf="i===0"><b>Коефициент</b></td>
    <td *ngIf="i>0">{{ coefficient.name }}</td>
    <td *ngFor="let radio of radios;">
      <ng-container *ngIf="i>0">
        <input [(ngModel)]="radio.coefficients[coefficient.option]" class="form-control" type="number"/>
        <input type="number" class="form-control" style="background-color: azure"
          [(ngModel)]="radio.coefficients[coefficient.weekendOption]"/>
      </ng-container>
    </td>

    <!--new Radio-->
    <td>
      <ng-container *ngIf="i>0">
        <input [(ngModel)]="newRadio.coefficients[coefficient.option]" class="form-control" type="number"/>
        <input type="number" class="form-control" style="background-color: azure"
          [(ngModel)]="newRadio.coefficients[coefficient.weekendOption]"/>
      </ng-container>
    </td>
    <!--new Radio-->
  </tr>
  <tr>
    <td><b>Операции</b></td>
    
    <td *ngFor="let radio of radios">
      <div class="btn-group">
        <button type="button" class="btn btn-warning btn-sm" (click)="edit(radio)">Сохранить</button>
        <button type="button" class="btn btn-warning btn-sm dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdoen-init" data-toggle="modal" data-target="#remove-modal"
            (click)="removeRadio=radio">Удалить</a>
        </div>
      </div>
    </td>
    <td>
      <button type="button" class="btn btn-success btn-sm" (click)="save(newRadio)">Добавить</button>
    </td>
  </tr>
</table>

<!-- modal -->
<div class="modal fade" id="remove-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Удаление</h4>
        <button class="close" type="button" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Вы действительно хоттите удалить?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Закрыть</button>
        <button type="button" class="btn btn-danger" (click)="remove(removeRadio.uid);">Удалить</button>
      </div>
    </div>
  </div>
</div>
<!-- /modal -->
