
<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container" routerLink="/">
        <h1>N#mba Media Adv</h1>
        <h5>Регистрация</h5>
      </div>
      <br/><br/><br/><br/>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="form-group input-group">
          <input #name="ngModel" [(ngModel)]="newUser.name" class="form-control"
            type="text" name='name' placeholder="Имя" required/>

          <small class="form-text text-muted" style="color:brown !important; width: 100%;"
            *ngIf="name.invalid && (name.dirty || name.touched)">
            <ng-container *ngIf="name.errors?.required">
                Это поле объязательно к заполнению.
            </ng-container>
          </small>
        </div>
        <div class="form-group input-group">
          <input [(ngModel)]="newUser.email" class="form-control" type="email" name='email' placeholder="nambaadv@gmail.com"
            #email="ngModel"
            type="email"
            minlength="4"
            maxlength="50"
            required
            pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"/>

            <small class="form-text text-muted" style="color:brown !important; width: 100%;"
                *ngIf="email.invalid && (email.dirty || email.touched)">
              <ng-container *ngIf="email.errors?.required">
                  Это поле объязательно к заполнению.
              </ng-container>
              <ng-container *ngIf="email.errors?.minlength">
                  Длина должна быть больше 4х символов.
              </ng-container>
              <ng-container *ngIf="email.errors?.maxlength">
                  Максимальная длина должна быть не болье 100 символов.
              </ng-container>
              <ng-container *ngIf="email.errors?.pattern">
                  Неправильный формат.
              </ng-container>
            </small>
        </div>
        <div class="form-group input-group">
          <input #password="ngModel" [(ngModel)]="newUser.password" class="form-control"
            type="password" name='password' placeholder="Пароль" required minlength="5" maxlength="100"/>

          <small class="form-text text-muted" style="color:brown !important; width: 100%;"
              *ngIf="password.invalid && (password.dirty || password.touched)">
              <ng-container *ngIf="password.errors?.required">
                  Это поле объязательно к заполнению.
              </ng-container>
              <ng-container *ngIf="password.errors?.minlength">
                  Длина должна быть больше 5х символов.
              </ng-container>
              <ng-container *ngIf="password.errors?.maxlength">
                  Максимальная длина должна быть не болье 100 символов.
              </ng-container>
          </small>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-info btn-block" (click)="doRegister();">
            Зарегистрироваться
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
