<div class="bigContainer">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Наименование</th>
        <th *ngFor="let tariff of tariffs">{{ tariff.name }}</th>
        <th *ngFor="let coefficient of coefficients" >{{ coefficient.name }}</th>
        <th>Продукт</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <input type="text" 
            class="form-control "
            [(ngModel)]="newTVChannel.name" 
            [value]="newTVChannel.name"
            placeholder="Наименование"
            style="width: 15em;"
          />
        </td>
        <td *ngFor="let tariff of tariffs">
          <input type="text" 
            class="form-control "
            [(ngModel)]="tariff.price" 
            [value]="tariff.price"
          />
        </td>
        <td *ngFor="let coefficient of coefficients">
          <input type="text" 
            class="form-control "
            [(ngModel)]="coefficient.value" 
            [value]="coefficient.value"
          />
        </td>
        <td>
          <select [(ngModel)]="newTVChannel.productId" class="form-control" 
            style="width: 15em;">
            <option *ngFor="let product of products;" [ngValue]="product.uid">
              {{ product.name }}
            </option>
          </select>
        </td>
        <td>
          <button class="btn btn-success" (click)="add()">Добавить</button>
        </td>
      </tr>

      <tr *ngFor="let tvChannel of tvChannels; let i=index">
        <td>
          <input type="text" 
            class="form-control "
            [(ngModel)]="tvChannel.name" 
            [value]="tvChannel.name"
            placeholder="Наименование"
            style="width: 15em;"
          />
        </td>
        <td *ngFor="let tvtariff of tvChannel.tariffs">
          <input type="text" 
            class="form-control"
            [(ngModel)]="tvtariff.price" 
            [value]="tvtariff.price"
          />
        </td>
        <td *ngFor="let tvcoefficient of tvChannel.coefficients">
          <input type="text" 
            class="form-control"
            [(ngModel)]="tvcoefficient.value" 
            [value]="tvcoefficient.value"
          />
        </td>
        <td>
          <select [(ngModel)]="tvChannel.productId" class="form-control"
          style="width: 15em;">
            <option *ngFor="let product of products;" [ngValue]="product.uid">
              {{ product.name }}
            </option>
          </select>
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning" (click)="edit(tvChannel)">
              Редактировать
            </button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="modal" data-target="#remove-modal"
                (click)="removeChannel = tvChannel">
                Удалить
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="remove-modal" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Удаление</h4>
                  <button class="close" type="button" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  Вы действительно хотите удалить?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                  <button type="button" class="btn btn-danger" (click)="remove(removeChannel.uid);">Удалить</button>
              </div>
          </div>
      </div>
  </div>
  <!--/ Modal -->

</div>
