<app-navbar-header></app-navbar-header>

<div class="container">
  <h3>Для такси</h3>
  <button class="btn btn-default" data-toggle="modal" data-target="#taxi-product-modal">Продукты</button>
  <table class="table table-hover">
    <thead>
      <th>Продукт</th>
      <th>Наименование</th>
      <th>Срок(мес.)</th>
      <th>Кол-во машин</th>
      <th>Стоимость 1 машины</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>
          <select [(ngModel)]="newTaxiPriceList.taxiProductId" class="form-control" style="width: 300px;">
            <option *ngFor="let taxiProduct of taxiProducts" [ngValue]="taxiProduct.uid">
              {{ taxiProduct.name }}
            </option>
          </select>
        </td>
        <td>
          <input class="form-control" type="text" [(ngModel)]="newTaxiPriceList.name" style="width: 300px;"/>
        </td>
        <td>
          <input class="form-control" type="number" [(ngModel)]="newTaxiPriceList.monthCount"/>
        </td>
        <td>
          <input class="form-control" type="number" [(ngModel)]="newTaxiPriceList.carsCount"/>
        </td>
        <td>
          <input class="form-control" type="number" [(ngModel)]="newTaxiPriceList.priceCar"/>
        </td>
        <td>
          <button class="btn btn-primary" (click)="add(newTaxiPriceList)">Добавить</button>
        </td>
      </tr>

      <tr *ngFor="let taxiPriceList of taxiPriceLists">
        <td>
          <select [(ngModel)]="taxiPriceList.taxiProductId" class="form-control" style="width: 300px;">
            <option *ngFor="let taxiProduct of taxiProducts" [ngValue]="taxiProduct.uid">
              {{ taxiProduct.name }}
            </option>
          </select>
        </td>
        <td>
          <input class="form-control" type="text" [(ngModel)]="taxiPriceList.name" style="width: 300px;"/>
        </td>
        <td>
          <input class="form-control" type="number" [(ngModel)]="taxiPriceList.monthCount"/>
        </td>
        <td>
          <input class="form-control" type="number" [(ngModel)]="taxiPriceList.carsCount"/>
        </td>
        <td>
          <input class="form-control" type="number" [(ngModel)]="taxiPriceList.priceCar"/>
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning" (click)="edit(taxiPriceList)">
              Редактировать
            </button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="modal" data-target="#remove-modal"
                (click)="selectedTaxiPriceList = taxiPriceList">
                Удалить
              </a>
            </div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="remove-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Удаление</h4>
                <button class="close" type="button" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-danger" (click)="remove(selectedTaxiPriceList.uid);">Удалить</button>
            </div>
        </div>
    </div>
</div>
<!--/ Modal -->

<!-- Modal -->
<div class="modal fade" id="taxi-product-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Продукты</h4>
                <button class="close" type="button" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <table class="table table-hover">
                  <thead>
                    <th>Наименование</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="newTaxiProduct.name"/>
                      </td>
                      <td>
                        <button class="btn btn-primary" (click)="addTaxiProduct(newTaxiProduct)">Добавить</button>
                      </td>
                    </tr>
              
                    <tr *ngFor="let taxiProduct of taxiProducts">
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="taxiProduct.name"/>
                      </td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning" (click)="editTaxiProduct(taxiProduct)">
                            Редактировать
                          </button>
                          <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" (click)="removeTaxiProduct(taxiProduct.uid)">
                              Удалить
                            </a>
                          </div>
                          </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!--/ Modal -->
