<table class="table">
  <thead>
      <tr>
          <th>Наименование</th>
          <th>Описание</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <tr>
        <td>
            <input type="text" 
                class="form-control "
                placeholder="Наименование" 
                [(ngModel)]="newRole.name" 
                #newname="ngModel"
                [value]="newRole.name"
                required
                maxlength="100"
            />
            <small class="form-text text-muted" style="color:brown !important;"
                *ngIf="newname.invalid && (newname.dirty || newname.touched)">
                <ng-container *ngIf="newname.errors?.required">
                    Это поле объязательно к заполнению.
                </ng-container>
                <ng-container *ngIf="newname.errors?.maxlength">
                    Максимальная длина должна быть не болье 100 символов.
                </ng-container>
            </small>
        </td>
        <td>
            <input type="text" 
                class="form-control "
                placeholder="Описание" 
                #newdescription="ngModel"
                [(ngModel)]="newRole.description"
                required
            />

            <small class="form-text text-muted" style="color:brown !important;"
                *ngIf="newdescription.invalid && (newdescription.dirty || newdescription.touched)">
                <ng-container *ngIf="newdescription.errors?.required">
                    Это поле объязательно к заполнению.
                </ng-container>
            </small>
        </td>
        <td>
            <button
                class="btn btn-success " aria-hidden="true"
                (click)="add()">
                Добавить
            </button>
        </td>
    </tr>
    <tr *ngFor="let role of roles; let i=index;">
        <td>
            <input type="text" 
                class="form-control "
                placeholder="Наименование" 
                [(ngModel)]="role.name" 
                #name="ngModel"
                [value]="role.name"
                required
                maxlength="100"
            />
            <small class="form-text text-muted" style="color:brown !important;"
                *ngIf="name.invalid && (name.dirty || name.touched)">
                <ng-container *ngIf="name.errors?.required">
                    Это поле объязательно к заполнению.
                </ng-container>
                <ng-container *ngIf="name.errors?.maxlength">
                    Максимальная длина должна быть не болье 100 символов.
                </ng-container>
            </small>
        </td>
        <td>
            <input type="text" 
                class="form-control "
                placeholder="Описание" 
                [(ngModel)]="role.description"
            />
        </td>
        <td>
            <div class="btn-group" *ngIf="name.valid">
                <button type="button" class="btn btn-warning" (click)="edit(role)">
                    Редактировать
                </button>
                <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" data-toggle="modal" data-target="#remove-modal" (click)="removeRole = role">
                        Удалить
                    </a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#operation" (click)="changeSelectedRole(role);">
                        Операции
                    </a>
                </div>
            </div>
        </td>
    </tr>
  </tbody>
</table>

<div class="modal" id="operation">
    <div class="modal-dialog" role="document" style="max-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Операции</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="selectedRole && selectedRole.uid">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Просмотр</th>
                            <th>Добавление</th>
                            <th>Рекдактирование</th>
                            <th>Удаление</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let operation of selectedRole.operations; let i=index;">
                            <td>
                                {{ operation.name }}
                            </td>
                            <td>
                                <input type="checkbox" 
                                    class="form-control"
                                    [(ngModel)]="operation.isRead"
                                />
                            </td>
                            <td>
                                <input type="checkbox" 
                                    class="form-control"
                                    [(ngModel)]="operation.isAdd"
                                />
                            </td>
                            <td>
                                <input type="checkbox" 
                                    class="form-control"
                                    [(ngModel)]="operation.isEdit"
                                />
                            </td>
                            <td>
                                <input type="checkbox" 
                                    class="form-control"
                                    [(ngModel)]="operation.isRemove"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" (click)="edit(selectedRole)">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="remove-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Удаление</h4>
                <button class="close" type="button" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                При удалении роли, сотрудники с таким ролем уже не смогут зайти в систему.<br/>
                Вы действительно хотите удалить?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-danger" (click)="remove(removeRole.uid);">Удалить</button>
            </div>
        </div>
    </div>
</div>
<!--/ Modal -->
