<div class="bigContainer">
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Поля</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" 
            class="form-control "
            [(ngModel)]="newCalc.name" 
            [value]="newCalc.name"
            placeholder="Наименование"
            #addName="ngModel"
            required
          />
          <small class="form-text text-muted" style="color:brown !important;"
              *ngIf="addName.invalid && (addName.dirty || addName.touched)">
              <ng-container *ngIf="addName.errors?.required">
                  Это поле объязательно к заполнению.
              </ng-container>
          </small>
        </td>
        <td>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Наименование</th>
                      <th>Значение</th>
                      <th>Ссылка</th>
                      <th>Формула</th>
                      <th></th>
                  </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <input type="text" 
                      class="form-control "
                      [(ngModel)]="newOption.name" 
                      [value]="newOption.name"
                      #newOptionsName="ngModel"
                      required
                    />
                  </td>
                  <td>
                    <input type="text" 
                      class="form-control "
                      [(ngModel)]="newOption.value" 
                      [value]="newOption.value"
                      #newOptionsName="ngModel"
                      required
                    />
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="newOption.ref">
                      <option *ngFor="let refTable of refTables" [ngValue]="refTable.modelName">
                        {{ refTable.name }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <div style="width: 100%; height: 40px; border: 1px solid;">
                      <ng-container *ngFor="let formula of newOption.formulas">
                        <span>{{ formula }}</span>
                      </ng-container>
                    </div>
                    <ng-container *ngIf="newOption.showFormulaCalc">
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-primary" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('*', newOption, newCalc.options)">*</button>
                        <button  type="button" class="btn btn-warning" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('/', newOption, newCalc.options)">/</button>
                        <button  type="button" class="btn btn-success" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('+', newOption, newCalc.options)">+</button>
                        <button  type="button" class="btn btn-danger" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('-', newOption, newCalc.options)">-</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(5, newOption, newCalc.options)">5</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(6, newOption, newCalc.options)">6</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(7, newOption, newCalc.options)">7</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(8, newOption, newCalc.options)">8</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(9, newOption, newCalc.options)">9</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="clearCalc(newOption)">
                          AC
                        </button>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(1, newOption, newCalc.options)">1</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(2, newOption, newCalc.options)">2</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(3, newOption, newCalc.options)">3</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(4, newOption, newCalc.options)">4</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(0, newOption, newCalc.options)">0</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setDot('.', newOption)">.</button>
                      </div>
                    </ng-container>
                  </td>
                  <td>
                      <button class="btn btn-success" (click)="addOption(newOption);clearShowFormulaCalc(newCalc.options, null);">Добавить</button>
                      <button class="btn btn-secondary"
                        (click)="clearShowFormulaCalc(newCalc.options, null); showFormulaCalc(newOption, newCalc)">Калькулятор формулы</button>
                  </td>
                </tr>

                <tr *ngFor="let option of newCalc.options">
                  <td>
                    <span *ngIf="showFormulaCalInCalc.name === newCalc.name && selectedOption.name !== option.name" class="badge badge-danger" style="cursor: pointer;"
                      (click)="chooseField(option.name)">
                      Выбрать
                    </span>
                    <input type="text" 
                      class="form-control "
                      [(ngModel)]="option.name" 
                      [value]="option.name"
                      #newOptionsName="ngModel"
                      required
                    />
                  </td>
                  <td>
                    <input type="text" 
                      class="form-control "
                      [(ngModel)]="option.value" 
                      [value]="option.value"
                      #newOptionsName="ngModel"
                      required
                    />
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="option.ref">
                      <option *ngFor="let refTable of refTables" [ngValue]="refTable.modelName">
                        {{ refTable.name }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <div style="width: 100%; height: 40px; border: 1px solid;">
                      <ng-container *ngFor="let formula of option.formulas">
                        <span>{{ formula }}</span>
                      </ng-container>
                    </div>
                    <ng-container *ngIf="option.showFormulaCalc">
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-primary" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('*', option, newCalc.options)">*</button>
                        <button  type="button" class="btn btn-warning" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('/', option, newCalc.options)">/</button>
                        <button  type="button" class="btn btn-success" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('+', option, newCalc.options)">+</button>
                        <button  type="button" class="btn btn-danger" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('-', option, newCalc.options)">-</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(5, option, newCalc.options)">5</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(6, option, newCalc.options)">6</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(7, option, newCalc.options)">7</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(8, option, newCalc.options)">8</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(9, option, newCalc.options)">9</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="clearCalc(option)">
                          AC
                        </button>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(1, option, newCalc.options)">1</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(2, option, newCalc.options)">2</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(3, option, newCalc.options)">3</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(4, option, newCalc.options)">4</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(0, option, newCalc.options)">0</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setDot('.', option)">.</button>
                      </div>
                    </ng-container>
                  </td>
                  <td>
                    <button class="btn btn-danger" (click)="removeOption(option)">Удалить</button>
                    <button class="btn btn-secondary"
                      (click)="newOption.showFormulaCalc=0;clearShowFormulaCalc(newCalc.options, option.name); showFormulaCalc(option, newCalc)">Калькулятор формулы</button>
                  </td>
                </tr>
              </tbody>
          </table>
        </td>
        <td>
            <button class="btn btn-success" (click)="add()">Добавить</button>
        </td>
      </tr>

      <tr *ngFor="let calc of calcs; let i=index">
        <td>
            <input type="text" 
              class="form-control "
              [(ngModel)]="calc.name" 
              [value]="calc.name"
              placeholder="Наименование"
              #addName="ngModel"
              required
            />
            <small class="form-text text-muted" style="color:brown !important;"
                *ngIf="addName.invalid && (addName.dirty || addName.touched)">
                <ng-container *ngIf="addName.errors?.required">
                    Это поле объязательно к заполнению.
                </ng-container>
            </small>
        </td>
        <td>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Наименование</th>
                      <th>Значение</th>
                      <th>Ссылка</th>
                      <th>Формула</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="text" 
                      class="form-control "
                      [(ngModel)]="newOption.name" 
                      [value]="newOption.name"
                      #newOptionsName="ngModel"
                      required
                    />
                  </td>
                  <td>
                    <input type="text" 
                      class="form-control "
                      [(ngModel)]="newOption.value" 
                      [value]="newOption.value"
                      #newOptionsName="ngModel"
                      required
                    />
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="newOption.ref">
                      <option *ngFor="let refTable of refTables" [ngValue]="refTable.modelName">
                        {{ refTable.name }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <div style="width: 100%; height: 40px; border: 1px solid;">
                      <ng-container *ngFor="let formula of newOption.formulas">
                        <span>{{ formula }}</span>
                      </ng-container>
                    </div>
                    <ng-container *ngIf="newOption.showFormulaCalc">
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-primary" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('*', newOption, calc.options)">*</button>
                        <button  type="button" class="btn btn-warning" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('/', newOption, calc.options)">/</button>
                        <button  type="button" class="btn btn-success" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('+', newOption, calc.options)">+</button>
                        <button  type="button" class="btn btn-danger" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('-', newOption, calc.options)">-</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(5, newOption, calc.options)">5</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(6, newOption, calc.options)">6</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(7, newOption, calc.options)">7</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(8, newOption, calc.options)">8</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(9, newOption, calc.options)">9</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="clearCalc(newOption)">
                          AC
                        </button>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(1, newOption, calc.options)">1</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(2, newOption, calc.options)">2</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(3, newOption, calc.options)">3</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(4, newOption, calc.options)">4</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(0, newOption, calc.options)">0</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setDot('.', newOption)">.</button>
                      </div>
                    </ng-container>
                  </td>
                  <td>
                      <button class="btn btn-success"
                        (click)="addOptionInEdit(newOption, calc)">Добавить</button>
                        <button class="btn btn-secondary"
                          (click)="clearShowFormulaCalc(calc.options, null); showFormulaCalc(newOption, calc)">Калькулятор формулы</button>
                  </td>
                </tr>

                <tr *ngFor="let option of calc.options">
                  <td>
                      <span *ngIf="showFormulaCalInCalc.name === calc.name && selectedOption.name !== option.name" class="badge badge-danger" style="cursor: pointer;"
                        (click)="chooseField(option.name)">
                        Выбрать
                      </span>
                    <input type="text" 
                      class="form-control "
                      [(ngModel)]="option.name" 
                      [value]="option.name"
                      #newOptionsName="ngModel"
                      required
                    />
                  </td>
                  <td>
                    <input type="text" 
                      class="form-control "
                      [(ngModel)]="option.value" 
                      [value]="option.value"
                      #newOptionsName="ngModel"
                      required
                    />
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="option.ref">
                      <option *ngFor="let refTable of refTables" [ngValue]="refTable.modelName">
                        {{ refTable.name }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <div style="width: 100%; height: 40px; border: 1px solid;">
                      <ng-container *ngFor="let formula of option.formulas">
                        <span>{{ formula }}</span>
                      </ng-container>
                    </div>
                    <ng-container *ngIf="option.showFormulaCalc">
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-primary" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('*', option, calc.options)">*</button>
                        <button  type="button" class="btn btn-warning" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('/', option, calc.options)">/</button>
                        <button  type="button" class="btn btn-success" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('+', option, calc.options)">+</button>
                        <button  type="button" class="btn btn-danger" style="width: 100%; border-right: 1px solid"
                          (click)="doOperation('-', option, calc.options)">-</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(5, option, calc.options)">5</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(6, option, calc.options)">6</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(7, option, calc.options)">7</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(8, option, calc.options)">8</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(9, option, calc.options)">9</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="clearCalc(option)">
                          AC
                        </button>
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(1, option, calc.options)">1</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(2, option, calc.options)">2</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(3, option, calc.options)">3</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(4, option, calc.options)">4</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setNumber(0, option, calc.options)">0</button>
                        <button  type="button" class="btn btn-default" style="width: 100%; border: 1px solid;"
                          (click)="setDot('.', option)">.</button>
                      </div>
                    </ng-container>
                  </td>
                  <td>
                      <button class="btn btn-danger" (click)="removeOptionInCalc(option, calc)">Удалить</button>
                      <button class="btn btn-secondary"
                        (click)="clearShowFormulaCalc(calc.options, null); showFormulaCalc(option, calc)">Калькулятор формулы</button>
                  </td>
                </tr>
              </tbody>
          </table>
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning" (click)="edit(calc)">
              Редактировать
            </button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="modal" data-target="#remove-modal"
                (click)="removeCalc = calc">
                Удалить
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Modal -->
  <div class="modal fade" id="remove-modal" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Удаление</h4>
                  <button class="close" type="button" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  Вы действительно хотите удалить?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                  <button type="button" class="btn btn-danger" (click)="remove(removeCalc.uid);">Удалить</button>
              </div>
          </div>
      </div>
  </div>
  <!--/ Modal -->
  
</div>
