<div class="container" *ngIf="!isPrintInvoice">
  <!--<ul class="list-group" *ngIf="!isMyOrders" (click)="isShowCategories=!isShowCategories">
    <li class="list-group-item">+</li>
  </ul>-->

  <ul class="list-group" *ngIf="!isMyOrders">
    <li class="list-group-item" *ngFor="let categoryProduct of categoryProducts">
      <span (click)="setCategoryProducts(categoryProduct);" style="cursor: pointer;">&nbsp;&nbsp; + {{ categoryProduct.name }}</span>

      <ul class="list-group" *ngIf="categoryProduct.selected">
        <ng-container *ngIf="categoryProduct.isRadio">
          <li class="list-group-item" *ngFor="let product of categoryProduct.products"
            data-toggle="modal" data-target="#radio-modal" style="cursor: pointer;"
            (click)="newOrderInit(); newOrder.productId = product.uid; isRadioEdit=true;">
            &nbsp;&nbsp;-> {{ product.name }}
          </li>
        </ng-container>
        <ng-container *ngIf="!categoryProduct.isRadio && !categoryProduct.isTaxi">
          <li class="list-group-item" *ngFor="let product of categoryProduct.products"
          (click)="selectCalcByProduct(product)" style="cursor: pointer;">
            &nbsp;&nbsp;-> {{ product.name }}
          </li>
        </ng-container>
        <ng-container *ngIf="categoryProduct.isTaxi">
          <li class="list-group-item" *ngFor="let product of categoryProduct.products"
          (click)="selectCalcTaxiByProduct(product.uid)" style="cursor: pointer;">
            &nbsp;&nbsp;-> {{ product.name }}
          </li>
        </ng-container>
        <li class="list-group-item" *ngIf="categoryProduct.products && categoryProduct.products.length < 1">
          &nbsp;&nbsp; в данной категории продукты не определены
        </li>
      </ul>
    </li>

    <hr/>
  </ul>
  <table class="table table-hover">
    <!--<thead>
        <tr>
            <th>Категория</th>
            <th>Продукт</th>
            <th>Детали</th>
            <th></th>
        </tr>
    </thead>-->

    <tbody>
      <h5 *ngIf="!isMyOrders">Корзина</h5>
      <tr *ngFor="let order of orders; let i=index">
        <!--<td>
            <select [(ngModel)]="order.categoryId" class="form-control"
              (change)="getAllProducts(order.categoryId)" disabled>
              <option *ngFor="let categoryProduct of categoryProducts" [ngValue]="categoryProduct.uid">
                {{ categoryProduct.name }}
              </option>
            </select>
        </td>-->
        <td>
          <!--<select [(ngModel)]="order.productId" style="width: 300px;" class="form-control" disabled>
            <option *ngFor="let product of allProducts" [ngValue]="product.uid">
              {{ product.name }}
            </option>
          </select>-->
          <div style="width: 200px;">
            <b *ngIf="!order.isTaxi">{{ order?.category?.name }}</b>
            <b *ngIf="order.isTaxi">Реклама на такси</b>
          </div>
        </td>
        <td>
          <b *ngIf="!order.isRadio">{{ order?.product?.name }}</b>
          <b *ngIf="order.isRadio">{{ order?.radio?.name }}</b>
          <br/>
          <ng-container *ngFor="let option of order?.calc?.options">
            <b>{{ option.name }}: </b>
            <span *ngIf="!option.ref">
              {{ option.value }}, &nbsp;
            </span>

            <ng-container *ngIf="option.ref && option.ref !== 'TVChannel'">
              <ng-container *ngFor="let val of option.value">
                <ng-container *ngIf="val.name === option.selectedValueName">
                  {{ val.name }}&nbsp;-
                  {{ val?.price }}
                  {{ val.value }}&nbsp;
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="option.ref && option.ref === 'TVChannel'">
              <ng-container *ngFor="let tvChannel of tvChannels">
                <ng-container *ngIf="tvChannel.uid === order.calc.selectedTvChannelId">{{ tvChannel.name }}</ng-container>
              </ng-container>
            </ng-container> &nbsp;
          </ng-container>

          <div *ngIf="order.isRadio" (click)="showRadioOrder(order); isRadioEdit=true;">
            <b>Длительность ролика: </b> {{ order.duration }}, &nbsp;
            <b>Дата начало: </b> {{ order.startDate }}, &nbsp;
            <b>Дата окончания: </b> {{ order.endDate }}, &nbsp;
            <b>Цена: </b> {{ order?.totalPrice }}
          </div>

          <div *ngIf="order.isTaxi">
            <b>Срок(мес): </b> {{ order?.monthCount }}, &nbsp;
            <b>Количество машин: </b> {{ order?.carsCount }}, &nbsp;
            <b>Цена за одну машину:</b> {{ order?.priceCar }}, &nbsp;
            <b>Итого: </b> {{ order?.totalPrice }}
          </div>
        </td>
        <td>
          <div class="btn-group">
            <button class="btn btn-primary" *ngIf="!order.isRadio && !order.isTaxi && order.productId && !isMyOrders"
              (click)="selectedCalc = order.calc; selectedOrder=order;
              openCalcOfProduct(selectedCalc); isEdit=true;">Изменить</button>

            <button *ngIf="order.isRadio && !isMyOrders" (click)="showRadioOrder(order); isRadioEdit=true;"
              class="btn btn-primary">Изменить</button>

            <button *ngIf="order.isTaxi && !isMyOrders" (click)="isEdit=true; selectedOrder = order;"
              data-toggle="modal" data-target="#calc-taxi-modal"
              class="btn btn-primary">Изменить</button>

            <button *ngIf="order.isRadio && !order.uid" class="btn btn-primary"
              (click)="considerTimes=order.considerTimes; selectedCategory = order.category; isSaveShablonOrder=true; saveRadioOrder(order)">
              Сохранить
            </button>

            <button *ngIf="!order.isRadio && !order.uid" class="btn btn-primary"
              (click)="selectedCalc = order.calc; selectedCategory = order.category; isSaveShablonOrder=true; save(order);">
              Сохранить
            </button>

            <button type="button" class="btn btn-warning"
              data-toggle="modal" data-target="#remove-modal"
              (click)="removeOrder = order">
                Удалить
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <div class="row" style="width: 100%">
    <div class="col-md-6">
      <div class="btn-group" style="margin-left: 10px" *ngIf="!isMyOrders">
        <button class="btn btn-primary" type="button"
          data-toggle="modal" data-target="#add-client-modal" >Внести данные клиента</button>
        <button class="btn btn-default" type="button" (click)="doInvoice()">Печать инвойса</button>
        <button class="btn btn-warning" type="button" 
          data-toggle="modal" data-target="#save-shablon-modal">Сохранить шаблон</button>
      </div>
    </div>
    <div class="col-md-6">
      <div style="float: right;">
        <label>Скидка(%):</label>
        <input class="form-control" type="number" [(ngModel)]="withDiscount" (change)="doConsiderTotal()"  />

        <label>Фикс.скидка(сумма):</label>
        <input class="form-control" type="number" [(ngModel)]="withFixSum" (change)="doConsiderTotal()"  />

        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="withNds" (change)="doConsiderTotal()" />
            Добавить НДС(12%)
          </label>
        </div>
        <hr/>
        <b>Итого<span *ngIf="withDiscount || withFixSum || withNds">
          , с учетом <span *ngIf="withDiscount || withFixSum">скидок</span>
          <span *ngIf="withNds">, налогов</span>
          </span>:
        </b><br/>
        <span>{{ total }}</span>
      </div>
    </div>
    <div *ngIf="newClient.uid">
      <b>Клиент: </b> {{ newClient?.name }}
    </div>
  </div>
  <!--<button type="button" class="btn btn-primary" style="float: right;">Оформить</button>-->
</div>

<!--Invoice-->
<div class="container" *ngIf="isPrintInvoice">
  <h2>Namba Media</h2>
  <button class="btn btn-success" (click)="printInvoice()">Печать</button>&nbsp;
  <button *ngIf="!isDetailInvoice" class="btn btn-secondary" (click)="isDetailInvoice=true">Детальный</button>
  <button *ngIf="isDetailInvoice" class="btn btn-default" (click)="isDetailInvoice=false">Свернуть детали</button>
  <div style="float: right;">
    <button class="btn btn-default" (click)="isPrintInvoice=false"><-Назад</button>
  </div>
  <br/><br/>
  <b>Клиент: </b> <span>{{ newClient?.name }}</span>
  <table class="table table-hover">
    <!--<thead>
        <tr>
            <th>Категория</th>
            <th>Продукт</th>
            <th>Детали</th>
            <th></th>
        </tr>
    </thead>-->
    <tbody>
      <tr *ngFor="let order of orders; let i=index">
        <td>
          <div style="width: 200px;"><b>{{ order?.category?.name }}</b></div>
        </td>
        <td>
          <b *ngIf="!order.isRadio">{{ order?.product?.name }}</b>
          <b *ngIf="order.isRadio">{{ order?.radio?.name }}</b>
          <br/>

          <ng-container *ngFor="let option of order?.calc?.options">
            <b>{{ option.name }}: </b>
            <ng-container *ngIf="!option.ref">
              {{ option.value }}<br/>
            </ng-container >

            <ng-container *ngIf="option.ref && option.ref !== 'TVChannel'">
              <ng-container *ngFor="let val of option.value">
                <ng-container *ngIf="val.name === option.selectedValueName">{{ val.name }}</ng-container>
              </ng-container>&nbsp;-
              <ng-container *ngIf="option.value && option.value.length > 0">
                {{ option?.value[0]?.price }}
                {{ option?.value[0]?.value }} <br/>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="option.ref && option.ref === 'TVChannel'">
              <ng-container *ngFor="let tvChannel of tvChannels">
                <ng-container *ngIf="tvChannel.uid === order.calc.selectedTvChannelId">{{ tvChannel.name }}</ng-container>
              </ng-container>
            </ng-container> <br/>
          </ng-container>

          <div *ngIf="order.isRadio">
            <b>Длительность ролика: </b> {{ order.duration }}, <br/>
            <b>Дата начало: </b> {{ order.startDate }}, <br/>
            <b>Дата окончания: </b> {{ order.endDate }}, <br/>
            <b>Цена: </b> {{ order?.totalPrice }}

            <table class="table table-hover" [ngStyle]="{'display': isDetailInvoice ? '' : 'none' }">
              <thead>
                <th>Цена</th>
                <th>Цена-вых</th>
                <th>Время</th>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сбб</th>
                <th>Воск</th>
              </thead>
              <tbody>
                <tr *ngFor="let time of order.times;">
                  <td>{{ order?.radio?.tariffs[time.option] }}</td>
                  <td>{{ order?.radio?.tariffs[time.weekendOption] }}</td>
                  <td>{{ time.startTime }}:{{ time.endTime }}</td>
                  <td>
                     <input type="checkbox" class="form-control" [(ngModel)]="time.mondaySelected" disabled/>
                  </td>
                  <td>
                    <input #tuesday type="checkbox" class="form-control" [(ngModel)]="time.tuesdaySelected"  disabled/>
                  </td>
                  <td>
                    <input #wednesday type="checkbox" class="form-control" [(ngModel)]="time.wednesdaySelected"  disabled/>
                  </td>
                  <td>
                    <input #thursday type="checkbox" class="form-control" [(ngModel)]="time.thursdaySelected" disabled/>
                  </td>
                  <td>
                    <input #friday type="checkbox" class="form-control"[(ngModel)]="time.fridaySelected" disabled/>
                  </td>
                  <td>
                    <input #saturday type="checkbox" class="form-control" [(ngModel)]="time.saturdaySelected"  disabled/>
                  </td>
                  <td>
                    <input #sunday type="checkbox" class="form-control" [(ngModel)]="time.sundaySelected" disabled/>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div *ngIf="order.isTaxi">
            <b>Срок(мес): </b> {{ order?.monthCount }}, &nbsp;
            <b>Количество машин: </b> {{ order?.carsCount }}, &nbsp;
            <b>Цена за одну машину:</b> {{ order?.priceCar }}, &nbsp;
            <b>Итого: </b> {{ order?.totalPrice }}
          </div>

        </td>
      </tr>
    </tbody>
  </table>
  <div style="float: right;">
    <div *ngIf="withDiscount">
      <label>Скидка(%):</label>
      {{ withDiscount }}
    </div>

    <div *ngIf="withFixSum">
      <label>Фикс.скидка(сумма):</label>
      {{ withFixSum }}
    </div>

    <div class="form-check" *ngIf="withNds">
      НДС: 12%
    </div>
    <hr/>
    <b>Итого<span *ngIf="withDiscount || withFixSum || withNds">
      , с учетом <span *ngIf="withDiscount || withFixSum">скидок</span>
      <span *ngIf="withNds">, налогов</span>
      </span>:
    </b><br/>
    <span>{{ total }}</span>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="remove-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Удаление</h4>
                <button class="close" type="button" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-danger" (click)="remove(removeOrder);">Удалить</button>
            </div>
        </div>
    </div>
</div>
<!--/ Modal -->

<!-- Modal -->
<div class="modal fade" id="save-shablon-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Сохранить как шаблон</h4>
                <button class="close" type="button" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control" [(ngModel)]="newOrderShablon.name"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success" (click)="saveShablon(newOrderShablon);">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<!--/ Modal -->

<!-- Modal -->
<div class="modal fade" id="add-client-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Данные клиента</h4>
                <button class="close" type="button" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <label>Наименование:</label>
              <input type="text" class="form-control" [(ngModel)]="newClient.name" placeholder="Имя"/>

              <label>Адрес:</label>
              <input type="text" class="form-control" [(ngModel)]="newClient.address" placeholder="Адрес"/>

              <label>ИНН:</label>
              <input type="text" class="form-control" [(ngModel)]="newClient.inn" placeholder="ИНН"/>

              <label>Банковские данные:</label>
              <textarea class="form-control">
                {{ newClient.bankDetails }}
              </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success" (click)="saveClient(newClient);">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<!--/ Modal -->

<!-- Modal -->
<div class="modal fade" id="calc-product-modal" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{ selectedCalc?.name }}</h4>
              <button class="close" type="button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <select [(ngModel)]="selectedOrder.productId" style="width: 300px;" class="form-control"
              (change)="changeProduct(selectedOrder.productId)">
              <option *ngFor="let product of products" [ngValue]="product.uid">
                {{ product.name }}
              </option>
            </select><br/>

            <table *ngIf="selectedCalc">
              <tr *ngFor="let option of selectedCalc.options">
                <td>{{ option.name }}</td>
                <td>
                  <input *ngIf="!option.ref" class="form-control" [(ngModel)]="option.value"
                    (change)="openCalcOfProduct(selectedCalc)" type="text"/>
        
                  <ng-container *ngIf="option.ref && option.ref === 'TVChannel'">
                    <select class="form-control" (change)="doSelectTvChannel()" [(ngModel)]="selectedCalc.selectedTvChannelId">
                      <option *ngFor="let tvChannel of tvChannels" [ngValue]="tvChannel.uid">{{ tvChannel.name }}</option>  
                    </select>
                  </ng-container>

                  <ng-container *ngIf="option.ref && option.ref !== 'TVChannel'">
                    <select class="form-control" id="{{ option.name }}" (change)="openCalcOfProduct(selectedCalc)"
                      [(ngModel)]="option.selectedValueName">
                      <option *ngFor="let val of option.value" [ngValue]="val.name">{{ val.name }}</option>  
                    </select>
                    <!--price: {{ option.value[0]?.price }}
                    value: {{ option.value[0]?.value }}-->
                  </ng-container>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
              <button *ngIf="!isEdit" type="button" class="btn btn-primary" data-dismiss="modal"
                (click)="newOrder.calc=selectedCalc; save(newOrder);">Сохранить</button>
              <button *ngIf="isEdit" type="button" class="btn btn-primary" data-dismiss="modal"
                (click)="editOrder(selectedOrder);">Сохранить</button>
          </div>
      </div>
  </div>
</div>
<!--/ Modal -->

<!-- Modal -->
<div class="modal fade" id="radio-modal" role="dialog">
  <div class="modal-dialog" style="max-width: 50em;">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Радио</h4>
              <button class="close" type="button" data-dismiss="modal" (click)="clearOrder()">&times;</button>
          </div>
          <div class="modal-body">
            <label>Выберите радио: </label>
            <select [(ngModel)]="selectedOrder.radioId" style="width: 300px;" class="form-control"
              (change)="selectRadio(selectedOrder.radioId)">
              <option *ngFor="let radio of radios" [ngValue]="radio.uid">
                {{ radio.name }}
              </option>
            </select><br/>
            <div class="row">
              <div class="col-md-8">
                <p-calendar [(ngModel)]="selectedOrder.startDate" [locale]="ru"
                  placeholder="Дата начало" dateFormat="dd.mm.yy"
                  (onSelect)="calcDaysAndWeekDays(selectedOrder.startDate, selectedOrder.endDate);"></p-calendar>
                <p-calendar [(ngModel)]="selectedOrder.endDate" [locale]="ru"
                  placeholder="Дата окончания" dateFormat="dd.mm.yy"
                  (onSelect)="calcDaysAndWeekDays(selectedOrder.startDate, selectedOrder.endDate);"></p-calendar>
                <br/><b>Дни: </b> {{ weekendDays + weekDays }},&nbsp; <b>Будни: </b>{{ weekDays }},&nbsp; <b>Вых: </b> {{ weekendDays }}
              </div>
              <div class="col-md-4">
                <input type="number" class="form-control"
                  [(ngModel)]="selectedOrder.duration" style="width: 5em; height: 2.2em;"
                  (change)="consider(considerTimes, selectedOrder.coefficients);"/>
                <small class="form-text text-muted">-Длительность ролика</small>
              </div>
            </div><br/>
            <table class="table table-hover" [ngStyle]="{'display': isCoefficient ? 'none' : '' }">
             <thead>
               <th>Цена</th>
               <th>Цена-вых</th>
               <th>Время</th>
               <th>Пн</th>
               <th>Вт</th>
               <th>Ср</th>
               <th>Чт</th>
               <th>Пт</th>
               <th>Сбб</th>
               <th>Воск</th>
             </thead>
             <tbody>
               <tr *ngFor="let time of selectedOrder.times;">
                 <td>{{ selectedRadio?.tariffs[time.option] }}</td>
                 <td>{{ selectedRadio?.tariffs[time.weekendOption] }}</td>
                 <td>{{ time?.startTime }}:{{ time?.endTime }}</td>
                 <td>
                    <input type="checkbox" class="form-control"
                    (change)="checkDay('mondaySelected', time, 1);" [(ngModel)]="time.mondaySelected"/>
                 </td>
                 <td>
                   <input #tuesday type="checkbox" class="form-control"
                    (change)="checkDay('tuesdaySelected', time, 2);" [(ngModel)]="time.tuesdaySelected"/>
                 </td>
                 <td>
                   <input #wednesday type="checkbox" class="form-control"
                    (change)="checkDay('wednesdaySelected', time, 3);" [(ngModel)]="time.wednesdaySelected"/>
                 </td>
                 <td>
                   <input #thursday type="checkbox" class="form-control"
                    (change)="checkDay('thursdaySelected', time, 4);" [(ngModel)]="time.thursdaySelected"/>
                 </td>
                 <td>
                   <input #friday type="checkbox" class="form-control"
                    (change)="checkDay('fridaySelected', time, 5);" [(ngModel)]="time.fridaySelected"/>
                 </td>
                 <td>
                   <input #saturday type="checkbox" class="form-control"
                    (change)="checkDay('saturdaySelected', time, 6);" [(ngModel)]="time.saturdaySelected"/>
                 </td>
                 <td>
                   <input #sunday type="checkbox" class="form-control" 
                    (change)="checkDay('sundaySelected', time, 0);" [(ngModel)]="time.sundaySelected"/>
                 </td>
               </tr>
             </tbody>
            </table>
            <button class="btn btn-primary" *ngIf="!isCoefficient" style="float: right;"
              (click)="toPageCoefficient()">Коэфициент ></button>

            <table class="table table-hover" [ngStyle]="{'display': isCoefficient ? '' : 'none'}">
              <thead>
                <th>Наименование</th>
                <th>Выбрано</th>
                <th>Значение</th>
              </thead>
              <tbody>
                <tr *ngFor="let coefficient of selectedOrder.coefficients">
                  <td>{{ coefficient.name }}</td>
                  <td>
                    <input type="checkbox" class="form-control"
                      [(ngModel)]="coefficient.checked"
                      (change)="viewCoefficient(coefficient)"/>
                  </td>
                  <td>{{ coefficient.value }}</td>
                </tr>
              </tbody>
            </table>
            Итого:&nbsp;<b>{{ totalForRadioCreate }}</b> &nbsp;&nbsp;&nbsp;
            <button class="btn btn-default" *ngIf="isCoefficient"
              (click)="isCoefficient=false">Назад</button>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearOrder()">Закрыть</button>
              <button type="button" class="btn btn-primary"
                (click)="saveRadioOrder(selectedOrder)">Сохранить</button>
          </div>
      </div>
  </div>
</div>
<!--/ Modal -->

<!-- Modal -->
<div class="modal fade" id="calc-taxi-modal" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Такси</h4>
              <button class="close" type="button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <label>Выберите продукт:</label>
            <select [(ngModel)]="selectedOrder.taxiProductId" style="width: 300px;" class="form-control"
              (change)="selectCalcTaxiByProduct(selectedOrder.taxiProductId);">
              <option *ngFor="let product of products" [ngValue]="product.uid">
                {{ product.name }}
              </option>
            </select>

            <label>Срок(мес):</label>
            <input class="form-control" [(ngModel)]="selectedOrder.monthCount"
              placeholder="Введите срок"
              (change)="considerTaxi(selectedOrder)"/>

            <label>Количество машин:</label>
            <input class="form-control" [(ngModel)]="selectedOrder.carsCount"
              placeholder="Введите количество машин"
              (change)="considerTaxi(selectedOrder)"/>

            <label>Цена за одну машину:</label>
            <input class="form-control" [(ngModel)]="selectedOrder.priceCar"
              placeholder="Введите цену"
              (change)="considerTaxi(selectedOrder)"/>

            <label>Итого:</label>
            {{ selectedOrder.totalPrice }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button *ngIf="!isEdit" type="button" class="btn btn-primary" data-dismiss="modal"
              (click)="newOrder.calc=selectedCalc; save(selectedOrder);">Сохранить</button>
            <button *ngIf="isEdit" type="button" class="btn btn-primary" data-dismiss="modal"
              (click)="editOrder(selectedOrder);">Сохранить</button>
          </div>
      </div>
  </div>
</div>
<!--/ Modal -->

